<div class="catmash-container">

    <div class="catmash-header">
        <h2>{{ 'QUESTION' | translate }}</h2>
        <h1>VS</h1>
    </div>

    @if (currentPair(); as pair) {

    @if ((pair?.length ?? 0) > 0 ) { <hdi-cats-vs [cats]="pair" (newPair)="generatePair()" /> }

    }

    @if (loading()) { <div class="cat-loading"> <hdi-loader /> </div> }

    @if (loadError()) { <div class="cat-load-error"> {{ 'LOAD_CAT_ERROR' | translate }} </div> }

    <hdi-footer-btn [title]="'SEE_RANKING' | translate" [link]="'/scores'" />

</div>